<%= form_for(@repository) do |f| %>
  <% if @repository.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repository.errors.count, "error") %> prohibited this repository from being saved:</h2>

      <ul>
      <% @repository.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location , "Location: /repositories/"%><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :project_type_id %><br />
	<%= f.collection_select(:project_type_id ,@project_types,:id, :name,{:include_blank =>"Select Project Type"}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
