<h1>Listing repositories</h1>

<table class="minimal">
  <tr>
    <th>Location</th>
    <th>Project type</th>
    <th colspan="4">Actions</th>
	<th></th>
    <th></th>
    <th></th>
  </tr>

<% @repositories.each do |repository| %>
  <tr>
    <td><%= repository.location %></td>
    <td><%= repository.project_type.name if repository.project_type %></td>
	<td><%= button_to "Grade", {:controller => :grades, :action => "create", 'grade' => {"repository_id" => repository.id}}%></td>
    <td><%= link_to 'Details', repository %></td>
    <td><%= link_to 'Edit', edit_repository_path(repository) %></td>
    <td><%= link_to 'Destroy', repository, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Repository', new_repository_path %>
