<p id="notice"><%= notice %></p>

<p>
  <b>Location /repositories/</b>
  <%= @repository.location %>
</p>

<p>
  <b>Project type:</b>
  <%= @repository.project_type.name if @repository.project_type_id %>
</p>


<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
