<p id="notice"><%= notice %></p>

<h2>Repo "<%= @repository.location %>" Details</h2>

<p>
  <b>Location /repositories/</b>
  <%= @repository.location %>
</p>

<p>
  <b>Project type:</b>
  <%= @repository.project_type.name if @repository.project_type_id %>
</p>

<p>
  <b>Grades:</b>
  <table class="minimal">
	<tr>
		<th>Total Pass</th>
		<th>Total Possible</th>
	</tr>
	<% @repositories.grades.each do |grade| %>
	  <tr>
		<td><%= grade.total_pass %></td>
		<td><%= grade.total_possible %></td>
	  </tr>
	<% end %>
  </table>
</p>

<p>
  <b>Contents:</b>
  <pre>
  <%= @repository.contents %>
  </pre>
</p>


<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
