<h1>Grade Report</h1>

<h2>Unit Tests</h2>

<pre>
<%= @output_unit %>
</pre>

<% if @info %>
<h2>Summary</h2>
<table>
	<tr>
		<th>Tests</th>
		<th>Assertions</th>
		<th>Failures</th>
		<th>Errors</th>
		<th>Skips</th>
	</tr>
	<tr>
		<td><%= @info[1] %></td>
		<td><%= @info[2] %></td>
		<td><%= @info[3] %></td>
		<td><%= @info[4] %></td>
		<td><%= @info[5] %></td>
	</tr>
</table>
<% end %>

<% if @output_cucumber %>
	<p>All Unit Tests passed. Moving on with Cucumber Tests</p>
	<h2>Cucumber Tests</h2>
<pre>
<%= @output_cucumber %>
</pre>
<% end %>

